footer{
    height: 100px;
    background-color: lightgray;
}
footer>p{
    text-align: center;
    font-size: medium;
    font-family: "Times New Roman", Georgia, Serif;
    letter-spacing: 4px;
    padding-top: 40px;
}