*{
    margin: 0px;
    padding: 0px;
}
.highlight{
    background-color: #929292;
    display: inline-block;
    padding: 2px 7px;
}
.img-radius{
    border-radius: 30px;
    width: 95%;
    height: 700px;
}
#about{
    width: 75%;
    margin: auto;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}
#menu{
    width: 75%;
    margin: auto;
    padding: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
}
#contact{
    width: 75%;
    margin: auto;
    padding: 60px;
}